/* Pseudoclase funcional */

p:has(strong) {
  color: $accent;
}

:is(figcaption) {
  font-size: 0.875rem;
}

:is(span) {
  color: $accent; /* Sustitución de la clase _accent la cual se aplicaba solo a etiquetas span para cambiar el color */
}

/* Main */

.container-event {
  background-color: $main;
}

main.event {
  max-width: 50rem;
  margin: 0 auto;
  padding-bottom: 1.25rem;
  color: $text;

  article {
    margin-bottom: 1.25rem;

    h1.title-event {
      margin-bottom: 1.25rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
      font-family: $body-font;
    }

    blockquote {
      font-style: italic;
      margin: 1.25rem 0;
      padding: 0.625rem;
      border-left: 0.25rem solid $accent;
    }
  }

  .photos {
    display: flex;
    justify-content: space-between;

    img {
      max-width: 48%;
    }
  }

  .event-info {
    margin-top: 2.5rem;
    padding: 1.25rem;
    border-radius: 0.3125rem;

    h3 {
      font-size: 1.25rem;
      margin-bottom: 0.625rem;
    }

    p {
      font-size: 1rem;
      margin-bottom: 0.3125rem;
    }
  }
}

#button-event {
  display: block;
  width: 18.75rem;
  height: 6.25rem;
  margin: 1.25rem auto;
  font-size: 1.5rem;
}

.top20 {
  margin-top: 1.25rem;
}

/* stylelint-disable */
@media (max-width: 36rem) {

  main.event {
      padding-bottom: 1rem;
    
    .photos {
      img {
            max-width: 100%;
          }
      } 
    }
  }
  
  @media (min-width: 36rem) and (max-width: 48rem) {
    main.event {
      padding-bottom: 1rem;
  
    }
  
  }
  
  @media (max-width: 48rem) {
    main.event {
        padding: 1.25rem; 
    }
  
    #button-event {
        width: 12.5rem; 
        height: 6.25rem; 
    }
  }

/* stylelint-enable */